.navbar {
    width: 1614px;
    height: 64px;
    background: #212731;
    padding-left: 284px;
    padding-right: 284px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .search {
        position: relative;
        display: flex;
        width: 258px;
        align-items: center;
        height: 37px;
        border-radius: 8px;
        border: 1px;
        background: #ffffff;
        padding-left: 5px;
        left: 120px;
        gap: 5px;
        .searchImage {
            width: 24px;
            height: 24px;
        }
        .searchInput {
            border: none;
            outline: none;
            font-size: 14px;
            padding: 5px;
        }
    }

    .navLinks {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 465px;
        .Navlink1 {
            width: 73px;
            height: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
        .Navlink2 {
            width: 121px;
            height: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
        .Navlink3 {
            width: 91px;
            height: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
        }
    }
}
